.container {
    --toastify-icon-color-success: var(--bg-green) !important;
    --toastify-icon-color-error: var(--bg-danger) !important;
  
    --toastify-color-progress-success: var(--bg-green) !important;
    --toastify-color-progress-error: var(--bg-danger) !important;
  }
  
  .toast {
    background-color: var(--bg-white) !important;
  }
  
  .body {
    font-size: var(--text-medium) !important;
    font-family: var(--font-default) !important;
    font-weight: var(--font-medium) !important;
    line-height: 1 !important;
  }
  