@font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/woff/IRANSansXFaNum-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: 300;
    src:url("../fonts/woff/IRANSansXFaNum-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/woff/IRANSansXFaNum-UltraLight.woff") format("woff");
  }
  
  @font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/woff/IRANSansXFaNum-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/woff/IRANSansXFaNum-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/woff/IRANSansXFaNum-Black.woff") format("woff");
  }
  