:root {
    //BACKGROUNDS
    --bg-main: #fff;
    --bg-danger: #ff0000;
    --bg-light-pink: rgba(254,247,221,1);
    --bg-pink:rgba(255, 0, 166,1);
    //TEXTS
    --text-white:#ffffff;
    --text-black: #000000;
    --text-grey: #c7c7c7;
    //TYPOGRAPHY
    --text-xSmall: 12px;
    --text-small: 14px;
    --text-medium: 16px;
    --text-large: 20px;
    --text-xLarge: 24px;
  
    --font-light: 300;
    --font-medium: 500;
    --font-bold: 700;
  
    --font-default: iransans;
  }
 